@import './base.css';

#app {
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-grow: 1;
  flex-shrink: 1;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  width: 100%;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
